@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Spline+Sans&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #181818;
  --color-secondary: #1c1c1c;
  --font-KaushanScript: "Kaushan Script";
}
